<launch>
  <arg name="ws_url" default="wss://openspeech.bytedance.com/api/v3/tts/bidirection"/>
  <arg name="api_key" default="606448be-ddcf-40ed-86fe-2691b56a5c62"/>
  <arg name="resource_id" default="volc.service_type.10029"/>
  <arg name="speaker" default="zh_male_beijingxiaoye_emo_v2_mars_bigtts"/>
  <arg name="sample_rate" default="24000"/>
  <arg name="audio_format" default="mp3"/>
  <arg name="player" default="mplayer"/>
  <arg name="output_dir" default="/tmp"/>
  <arg name="play_realtime" default="true"/>
  <arg name="prefer_legacy_ws" default="true"/>
  <arg name="legacy_ws_url" default="wss://openspeech.bytedance.com/api/v1/tts/ws_binary"/>
  <arg name="legacy_appid" default="5036728199"/>
  <arg name="legacy_token" default="0gCewCOkjsDGjVEEzdnAQR8uVgUM0suM"/>
  <arg name="legacy_cluster" default="volcano_tts"/>
  <arg name="legacy_voice_type" default="BV001_streaming"/>

  <node name="tts_server" pkg="TTS_audio" type="TTS.py"
        output="screen">
    <param name="ws_url" value="$(arg ws_url)" type="str"/>
    <param name="api_key" value="$(arg api_key)" type="str"/>
    <param name="resource_id" value="$(arg resource_id)" type="str"/>
    <param name="speaker" value="$(arg speaker)" type="str"/>
    <param name="sample_rate" value="$(arg sample_rate)"/>
    <param name="audio_format" value="$(arg audio_format)" type="str"/>
    <param name="player" value="$(arg player)" type="str"/>
    <param name="output_dir" value="$(arg output_dir)" type="str"/>
    <param name="play_realtime" value="$(arg play_realtime)"/>
    <param name="prefer_legacy_ws" value="$(arg prefer_legacy_ws)"/>
    <param name="legacy_ws_url" value="$(arg legacy_ws_url)" type="str"/>
    <param name="legacy_appid" value="$(arg legacy_appid)" type="str"/>
    <param name="legacy_token" value="$(arg legacy_token)" type="str"/>
    <param name="legacy_cluster" value="$(arg legacy_cluster)" type="str"/>
    <param name="legacy_voice_type" value="$(arg legacy_voice_type)" type="str"/>
  </node>
</launch>
