<launch>
  <param name="use_sim_time" value="false" />

  <arg name="map_name" default="my_lab_freeze.yaml" />
  <arg name="map_dir" default="/home/abot/abot_ws/src/robot_slam/maps" />

  <node name="map_server" pkg="map_server" type="map_server"
        args="$(arg map_dir)/$(arg map_name)"/>

  <include file="$(find robot_slam)/launch/include/move_base.launch.xml" />
  <include file="$(find robot_slam)/launch/include/amcl.launch.xml" />
</launch>
